@model MiniProject.Data.Models.Album

@{
    ViewBag.Title = "Album Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photos)
            </th>
            <th>
                Photo @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Photos)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>*@
                <td>
                    <img src="@Url.Content(item.ThumbnailUrl)" alt="Image" style="height:30px;width:30px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                    @Html.ActionLink("View Comments", "ViewComments", new { photoId = item.Id }) @*|*@
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

    </table>

</div>
<p>
    @Html.ActionLink("Back to Album List", "List")
</p>
