@model MiniProject.Data.Models.Photo

@{
    ViewBag.Title = "Comments";
}

<h2>Comments</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbnailUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbnailUrl)
        </dd>

    </dl>
    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>*@
            <th>
                Comments
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Comment)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Back to Photos", "ViewPhotos", new { albumId = Model.AlbumId })
</p>
